name: Build Release for avkiller

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      build-unix-time: ${{ steps.variable.outputs.build_unix_time }}
      build-date: ${{ steps.variable.outputs.build_date }}
      ezbookkeeping-package-file-name-prefix: ${{ steps.variable.outputs.ezbookkeeping_package_file_name_prefix }}
      ezbookkeeping-package-artifact-name-prefix: ${{ steps.variable.outputs.ezbookkeeping_package_artifact_name_prefix }}
      ezbookkeeping-backend-artifact-name-prefix: ${{ steps.variable.outputs.ezbookkeeping_backend_artifact_name_prefix }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up variables
        id: variable
        run: |
          echo "build_unix_time=$(date '+%s')" >> "$GITHUB_OUTPUT"
          echo "build_date=$(date '+%Y%m%d')" >> "$GITHUB_OUTPUT"
          echo "ezbookkeeping_package_file_name_prefix=ezbookkeeping-${{ github.ref_name }}" >> "$GITHUB_OUTPUT"
          echo "ezbookkeeping_package_artifact_name_prefix=ezbookkeeping-build-release-package-${{ github.run_id }}" >> "$GITHUB_OUTPUT"
          echo "ezbookkeeping_backend_artifact_name_prefix=ezbookkeeping-build-release-backend-${{ github.run_id }}" >> "$GITHUB_OUTPUT"

      - name: Rename docker bake meta file
        run: |
          mv "${{ steps.meta.outputs.bake-file }}" "${{ steps.variable.outputs.ezbookkeeping_docker_bake_meta_file_path }}"

  build-linux-docker-and-package-x86:
    runs-on: ubuntu-24.04
    needs:
      - setup
    steps:
      - name: Checkout
        uses: actions/checkout@v5


  build-windows-backend:
    needs:
      - setup
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - uses: ./.github/actions/build-windows-backend
        with:
          release-build: 1
          build-unix-time: ${{ needs.setup.outputs.build-unix-time }}
          build-date: ${{ needs.setup.outputs.build-date }}
          check-3rd-api: ${{ vars.CHECK_3RD_API }}
          skip-tests: ${{ vars.SKIP_TESTS }}
          backend-artifact-name-prefix: ${{ needs.setup.outputs.ezbookkeeping-backend-artifact-name-prefix }}

  build-windows-package:
    needs:
      - setup
      - build-windows-backend
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - uses: ./.github/actions/build-windows-package
        with:
          package-file-name-prefix: ${{ needs.setup.outputs.ezbookkeeping-package-file-name-prefix }}
          package-artifact-name-prefix: ${{ needs.setup.outputs.ezbookkeeping-package-artifact-name-prefix }}
          backend-artifact-name-prefix: ${{ needs.setup.outputs.ezbookkeeping-backend-artifact-name-prefix }}

  publish-release:
    runs-on: ubuntu-latest
    needs:
      - setup
      - build-windows-package
    steps:
      - name: Download all packaged files
        uses: actions/download-artifact@v4
        with:
          pattern: ${{ needs.setup.outputs.ezbookkeeping-package-artifact-name-prefix }}-*
          merge-multiple: true
          path: release-files

      - name: Publish Release ${{ github.ref_name }}
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ github.ref_name }}
          tag_name: ${{ github.ref_name }}
          files: ./release-files/*
          draft: true
