name: Build Release for avkiller

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

jobs:
  build-windows-backend:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          cache: true
          check-latest: true
          
      - name: build for windows pkg
        run: |
           .\build.ps1 package -Output ezbookkeeping.zip -NoTest
           dir 
         
