name: Build Release for avkiller

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:
env:
   TAG_NAME: "nightly"
   VERSION: "1.2.0"

jobs:
  build-windows-backend:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        
      - name: Get tag version
        run: |
          # 如果是手动触发 (workflow_dispatch)
          if [ "$GITHUB_EVENT_NAME" = "workflow_call" ]; then
            # 获取所有 Tag（确保包含远程 Tag）
            git fetch --tags
            # 按版本号排序获取最新 Tag（兼容语义化版本）
            LATEST_TAG=$(git tag --sort=-v:refname | head -n 1 || echo "nightly")

            # 去掉 Tag 名称中的 'v' 前缀
            # VERSION="${LATEST_TAG}"
          else
           # 原有逻辑：从推送的 Tag 中提取版本号
           TAG_VERSION="${GITHUB_REF##*/}"
           VERSION="${TAG_VERSION}"
          fi

          # 将信息写入环境变量
          echo "TAG_NAME=$LATEST_TAG" >> $GITHUB_ENV
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          cache: true
          check-latest: true
          
      - name: build for windows pkg
        run: |
           .\build.ps1 package -Output ezbookkeeping.zip -NoTest
           dir 

      - name: Publish Release
        uses: softprops/action-gh-release@v1
        with:
          prerelease: false
          name: ${{ env.TAG_NAME }}
          tag_name: ${{ env.TAG_NAME }}
          files: |
            ezbookkeeping.zip
            ezbookkeeping.zip
         
